<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlx.ababy.dao.CommunityMapper">
  <resultMap id="BaseResultMap" type="com.dlx.ababy.entity.Community">
    <id column="com_id" jdbcType="INTEGER" property="comId" />
    <result column="u_id" jdbcType="INTEGER" property="uId" />
    <result column="com_date" jdbcType="TIMESTAMP" property="comDate" />
    <result column="com_info" jdbcType="VARCHAR" property="comInfo" />
    <result column="com_likenum" jdbcType="INTEGER" property="comLikenum" />
  </resultMap>
  <sql id="Base_Column_List">
    com_id, u_id, com_date, com_info, com_likenum
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from community
    where com_id = #{comId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from community
    where com_id = #{comId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dlx.ababy.entity.Community">
    insert into community (com_id, u_id, com_date, 
      com_info, com_likenum)
    values (#{comId,jdbcType=INTEGER}, #{uId,jdbcType=INTEGER}, #{comDate,jdbcType=TIMESTAMP}, 
      #{comInfo,jdbcType=VARCHAR}, #{comLikenum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.dlx.ababy.entity.Community">
    insert into community
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="comId != null">
        com_id,
      </if>
      <if test="uId != null">
        u_id,
      </if>
      <if test="comDate != null">
        com_date,
      </if>
      <if test="comInfo != null">
        com_info,
      </if>
      <if test="comLikenum != null">
        com_likenum,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="comId != null">
        #{comId,jdbcType=INTEGER},
      </if>
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="comDate != null">
        #{comDate,jdbcType=TIMESTAMP},
      </if>
      <if test="comInfo != null">
        #{comInfo,jdbcType=VARCHAR},
      </if>
      <if test="comLikenum != null">
        #{comLikenum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlx.ababy.entity.Community">
    update community
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="comDate != null">
        com_date = #{comDate,jdbcType=TIMESTAMP},
      </if>
      <if test="comInfo != null">
        com_info = #{comInfo,jdbcType=VARCHAR},
      </if>
      <if test="comLikenum != null">
        com_likenum = #{comLikenum,jdbcType=INTEGER},
      </if>
    </set>
    where com_id = #{comId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlx.ababy.entity.Community">
    update community
    set u_id = #{uId,jdbcType=INTEGER},
      com_date = #{comDate,jdbcType=TIMESTAMP},
      com_info = #{comInfo,jdbcType=VARCHAR},
      com_likenum = #{comLikenum,jdbcType=INTEGER}
    where com_id = #{comId,jdbcType=INTEGER}
  </update>
</mapper>