<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlx.ababy.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dlx.ababy.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="integral" jdbcType="BIGINT" property="integral" />
    <result column="SVIPTime" jdbcType="DATE" property="sviptime" />
    <result column="wbtype" jdbcType="INTEGER" property="wbtype" />
    <result column="u_type" jdbcType="INTEGER" property="uType" />
    <result column="u_ticket" jdbcType="INTEGER" property="uTicket" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, tel, sex, photo, level, integral, SVIPTime, wbtype, u_type, u_ticket, password
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dlx.ababy.entity.User">
    insert into user (id, name, tel, 
      sex, photo, level, 
      integral, SVIPTime, wbtype, 
      u_type, u_ticket, password
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{photo,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{integral,jdbcType=BIGINT}, #{sviptime,jdbcType=DATE}, #{wbtype,jdbcType=INTEGER}, 
      #{uType,jdbcType=INTEGER}, #{uTicket,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dlx.ababy.entity.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="integral != null">
        integral,
      </if>
      <if test="sviptime != null">
        SVIPTime,
      </if>
      <if test="wbtype != null">
        wbtype,
      </if>
      <if test="uType != null">
        u_type,
      </if>
      <if test="uTicket != null">
        u_ticket,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="integral != null">
        #{integral,jdbcType=BIGINT},
      </if>
      <if test="sviptime != null">
        #{sviptime,jdbcType=DATE},
      </if>
      <if test="wbtype != null">
        #{wbtype,jdbcType=INTEGER},
      </if>
      <if test="uType != null">
        #{uType,jdbcType=INTEGER},
      </if>
      <if test="uTicket != null">
        #{uTicket,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dlx.ababy.entity.User">
    update user
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="integral != null">
        integral = #{integral,jdbcType=BIGINT},
      </if>
      <if test="sviptime != null">
        SVIPTime = #{sviptime,jdbcType=DATE},
      </if>
      <if test="wbtype != null">
        wbtype = #{wbtype,jdbcType=INTEGER},
      </if>
      <if test="uType != null">
        u_type = #{uType,jdbcType=INTEGER},
      </if>
      <if test="uTicket != null">
        u_ticket = #{uTicket,jdbcType=INTEGER},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dlx.ababy.entity.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      photo = #{photo,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      integral = #{integral,jdbcType=BIGINT},
      SVIPTime = #{sviptime,jdbcType=DATE},
      wbtype = #{wbtype,jdbcType=INTEGER},
      u_type = #{uType,jdbcType=INTEGER},
      u_ticket = #{uTicket,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>